footer(class="mdl-mega-footer")
	div(class="mdl-mega-footer__middle-section")

		div(class="mdl-mega-footer__drop-down-section")
			h1(class="mdl-mega-footer__heading") Features
			ul(class="mdl-mega-footer__link-list")
				li
					a(href="#") About
				li
					a(href="#") Terms
				li
					a(href="#") Partners

		div(class="mdl-mega-footer__drop-down-section")
			h1(class="mdl-mega-footer__heading") FAQ
			ul(class="mdl-mega-footer__link-list")
				li
					a(href="#") Shippings
				li
					a(href="#") Returns
				li
					a(href="#") Payments
				li
					a(href="#") Account

		div(class="mdl-mega-footer__drop-down-section")
			h1(class="mdl-mega-footer__heading") Contact Us
			ul(class="mdl-mega-footer__link-list")
				li
					a(href="#") cliente@pazzo.net
				li
					a(href="#") info@pazzo.net
				li
					a(href="#") return@pazzo.net
				li
					a(href="#") help@pazzo.net

	div(class="mdl-mega-footer__bottom-section")
		div(class="mdl-logo") Clientepazzo
		ul(class="mdl-mega-footer__link-list")
			li Copyright In Cool 8
			li
				a(href="#") Help
			li
				a(href="#") Privacy & Terms
			li
				a(href="#") Account

