header(class="mdl-layout__header")
	div(class="mdl-layout-icon")
	div(class="mdl-layout__header-row")
		span(class="mdl-layout__title") Clientepazzo
		div(class="mdl-layout-spacer")
		nav(class="mdl-navigation")
			a(class="mdl-navigation__link" ref='#') Uomo
			a(class="mdl-navigation__link" href='#') Donna
			a(class="mdl-navigation__link" href='#') Categorie
div(class="mdl-layout__drawer")
	span(class="mdl-layout__title") Clientepazzo
	nav(class="mdl-navigation")
		a(class="mdl-navigation__link" ref='#') Uomo
		a(class="mdl-navigation__link" href='#') Donna
		a(class="mdl-navigation__link" href='#') Categorie