doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/material.min.css')
	body
		header
			include ./navbar.jade

		main
			block content

		include ./footer.jade

		script(type='text/javascript', src='/javascripts/jquery-3.0.0.min.js')
		script(type='text/javascript', src='/javascripts/material.min.js')
