nav(class="amber accent-4")
	div(class="nav-wrapper")
		a(class="brand-logo" href="#") E-Commerce
		ul(class="right hide-on-med-and-down" id="nav-mobile")
			li
				a(href="#") Men
			li
				a(href="#") Women
			li
				a(href="#") Categories
