div(class="slider")
	ul(class="slides")
		li
			img(src="http://lorempixel.com/580/250/nature/1")
			div(class="caption center-align")
				h3 Title
				h5 Description
		li
			img(src="http://lorempixel.com/580/250/nature/2")
			div(class="caption center-align")
				h3 Title
				h5 Description
		li
			img(src="http://lorempixel.com/580/250/nature/3")
			div(class="caption center-align")
				h3 Title
				h5 Description