div(class="slider" style="margin-top: 5px")
	ul(class="slides")
		li
			img(src="/images/1.png")
			div(class="caption right-align deep-purple-text")
				h3 Title
				h5 Description
		li
			img(src="/images/2.png")
			div(class="caption left-align green-text")
				h3 Title
				h5 Description
		li
			img(src="/images/3.png")
			div(class="caption center-align black-text")
				h3 Title
				h5 Description
