div(id="owl-carousel" class="owl-carousel owl-theme")
	div(class="item")
		img(src="/images/1.jpg" height="780px" class="mdl-cell mdl-cell--12-col")
	div(class="item")
		img(src="/images/2.jpg" height="780px" class="mdl-cell mdl-cell--12-col")
	div(class="item")
		img(src="/images/3.png" height="780px" class="mdl-cell mdl-cell--12-col")
